[idle_timeout]
# Modified to not disable steppers (M84) on idle
gcode:
    M104 S0 # Turn off extruder, keep bed on
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    {% if printer.pause_resume.is_paused or printer.virtual_sdcard.is_active %}
        {% if "xyz" in printer.toolhead.homed_axes %}
            {% if printer['gcode_macro AFC_BRUSH'] is defined %}
                AFC_BRUSH
            {% endif %}
            {% if printer['gcode_macro AFC_PARK'] is defined %}
                AFC_PARK
            {% endif %}
        {% endif %}
    {% else %}
        TURN_OFF_HEATERS
        STATUS_OFF
        G92 E0
        M84
    {% endif %}
timeout: 1800
