# Maintenance and helper macros
# Hardware-agnostic implementation
# Part of klipper-nerdygriffin-macros

[gcode_macro DEEP_CLEAN_NOZZLE]
description: Scrubs the nozzle repeatedly while gradually stepping down the nozzle temperature
variable_temp_resolution: 10
variable_temp_step: 20
gcode:
    {% set extruder_temp = params.TEMP|default(printer.configfile.settings.extruder.max_temp - 20)|int %}
    {% set loop_start_temp = extruder_temp - (extruder_temp % temp_resolution) %}
    _CG28
    {% for clean_temp in range(loop_start_temp, 160, -temp_step) %}
        M109 S{clean_temp}
        # Use AFC brush if available, otherwise use nozzle wiper, or skip if neither
        {% if printer['gcode_macro AFC_BRUSH'] is defined %}
            AFC_BRUSH
        {% elif printer['gcode_macro CLEAN_NOZZLE'] is defined %}
            CLEAN_NOZZLE
        {% endif %}
        G28 Z
    {% endfor %}

[gcode_macro NOZZLE_CHANGE_POSITION]
description: Park toolhead in convenient position for nozzle changes
gcode:
    {% set x_center = printer.toolhead.axis_maximum.x|float / 2.0 %}
    {% set y_front = printer.toolhead.axis_minimum.y|float + 10 %}
    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}

    {% if printer['gcode_macro NW_RETRACT'] is defined %}
        NW_RETRACT
    {% endif %}
    _CG28
    {% if printer[printer.toolhead.extruder].can_extrude %}
        M104 S280
    {% else %}
        M104 S0
    {% endif %}
    G90
    G0 X{x_center} Y{y_front} Z100 F{travel_speed}
    M400
    _BALLAD_OF_FIRE

[gcode_macro _DEBUG_PRINT_STATE]
description: Print current toolhead state at execution time
gcode:
    {% if params.MSG is defined %}
        M118 DEBUG: {params.MSG}
    {% endif %}
    M118 DEBUG: Absolute coords: {printer.gcode_move.absolute_coordinates}
    M118 DEBUG: Absolute extrude: {printer.gcode_move.absolute_extrude}
    M118 DEBUG: Gcode position: X={printer.gcode_move.gcode_position.x} Y={printer.gcode_move.gcode_position.y} Z={printer.gcode_move.gcode_position.z}
    M118 DEBUG: Homed axes: {printer.toolhead.homed_axes}
    M118 DEBUG: Toolhead position: X={printer.toolhead.position.x} Y={printer.toolhead.position.y} Z={printer.toolhead.position.z} E={printer.toolhead.position.e}
