# Toolhead positioning macros
# Hardware-agnostic implementation
# Part of klipper-nerdygriffin-macros

[gcode_macro CENTER]
description: Moves the toolhead to the center of the bed
gcode:
    _CG28
    {% set x_center = printer.toolhead.axis_maximum.x|float / 2.0 %}
    {% set y_center = printer.toolhead.axis_maximum.y|float / 2.0 %}
    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}
    G90
    {% if params.Z is defined %}
        G1 Z{params.Z|float} F{travel_speed}
    {% endif %}
    G1 X{x_center} Y{y_center} F{travel_speed}
